<div class="search col-7 h-100">
  <div class="search-top">
    <h4>Search User</h4>
    <form class="form-search" action="/search" role="search">
      <div class="input-group search-bar">
        <input class="form-control input-search" type="search" id="keyword" name="keyword"
          placeholder="Enter user name or email" aria-label="Search" value="{{keyword}}" required>
        <button class="btn btn-search" type="submit">
          <i class="fa-solid fa-magnifying-glass text-white"></i>
        </button>
      </div>
    </form>
  </div>
  <div class="search-center">
    {{#if users}}
    <h5 class="text-white">符合搜尋:{{users.length}}位</h5>
    {{/if}}
    <ul class="search-list">
      {{#each users}}
      <li class="search-list-item d-flex align-items-center justify-content-between"
          id="{{this._id}}"
          data-id="{{this._id}}" 
          data-name="{{this.name}}" 
          data-email="{{this.email}}"
          data-avatar="{{this.avatar}}" 
          data-introduction="{{this.introduction}}" 
          data-hasSentRequest="{{this.status.hasSentRequest}}"
          data-isFriend="{{this.status.isFriend}}" 
          data-isLoginUser="{{this.status.isLoginUser}}" 
          data-isDefault="{{this.status.isDefault}}">
        <div class="search-user-avatar">
          <img class="search-user-avatar-img" src="{{this.avatar}}" data-bs-toggle="modal" data-bs-target="#show-modal"
            onerror="this.src=' https://i.imgur.com/VUhtTKV.png'">
        </div>

        <div class="search-user-name">
          <h4 class="user-name-h4" data-bs-toggle="modal" data-bs-target="#show-modal">{{this.name}}</h4>
        </div>

        {{#if this.status.hasSentRequest}}
        <div class="friend-btn">
          <button class="btn btn-outline-warning cancel-friend-btn" data-id="{{this._id}}">
            <i class="fa-solid fa-heart-circle-minus"></i>Cancel Friend Request
          </button>
        </div>
        {{/if}}

        {{#if this.status.isFriend}}
        <div class="friend-btn">
          <button class="btn btn-outline-success none-pointer">
            Friend
          </button>
        </div>
        {{/if}}

        {{#if this.status.isLoginUser}}
        <div class="friend-btn">
          <button class="btn btn-outline-light none-pointer">
            Yourself
          </button>
        </div>
        {{/if}}

        {{#if this.status.isDefault}}
        <div class="friend-btn">
          <button class="btn btn-outline-info add-friend-btn" data-id="{{this._id}}">
            <i class="fa-solid fa-heart-circle-plus"></i>Add Friend
          </button>
        </div>
        {{/if}}

      </li>
      {{/each}}
    </ul>
  </div>

</div>

{{> modal/modal-show}}

<script type="module" src="/javascripts/search.js" defer></script>